<!DOCTYPE html>
<html lang="en">
    <head>
        <title>integrix</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="">
        <meta name="author" content="Dario Munaò" />

        <!-- Favicon icon -->
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Material design icons -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

        <!-- prism css -->
        <link rel="stylesheet" href="assets/css/plugins/prism-coy.css">

        <!-- vendor css -->
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <!-- custom css -->
        <link rel="stylesheet" href="/custom/css/main.css">
    </head>
    <body class="">

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper container">
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- [ Page content ] start -->
                                <%- include('template/include') %>
                                <!-- [ Page content ] end -->

                                <!-- Disclaimer start -->
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-9">
                                        <p class="small text-center">Questa applicazione è una versione demo. 
                                            Tutti i dati di persone o cose presenti nell'applicazione sono stati generati
                                             casualmente e non rappresentano individui o oggetti reali.</p>
                                    </div>
                                </div>
                                <!-- Disclaimer end -->
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ status bar ] start -->
        <div id="status"></div>
        <!-- [ status bar ] end -->

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Custom js -->
        <script src="/custom/js/frontend.js"></script>

        <!-- Required Js -->
        <script src="/assets/js/vendor-all.min.js"></script>
        <script src="/assets/js/plugins/bootstrap.min.js"></script>
        <script src="/assets/js/pcoded.min.js"></script>

        <!-- Apex Chart -->
        <script src="/assets/js/plugins/apexcharts.min.js"></script>

        <!-- custom-chart js -->
        <script src="/assets/js/pages/dashboard-main.js"></script>
    </body>
</html>